<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Find the closest Shop to you!</h1>

  <h2>
    Over 700 partners and growing each day!
  </h2>

  <%=   link_to 'Find them now!', 'javascript:navigator.geolocation.getCurrentPosition(initialize)', :id => 'my-link', class: "btn btn-lg btn-primary" %>

</div>
<style>
#map {
  height: 400px;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}
#distanceSelect {
  text-align: center;

  margin:0 auto;

}
#numberSelect {
  text-align: center;


}

</style>

<body>
  <div id="Container", class="center">

    <div id="DistanceButton">
      Filter by distance
    <select id="distanceSelect" name="list">
      <option value="1">1 Km</option>
      <option value="2">2 Km</option>
      <option value="4">4 Km</option>
      <option value="8">8 Km</option>
      <option value="16">16 Km</option>
      <option value="32">32 Km</option>
      <option value="9999">All</option>
    </select>
  </div>
  or closest shops
  <select id="numberSelect" name="list">
    <option value="1">1 Shop</option>
    <option value="2">2 Shops</option>
    <option value="4">4 Shops</option>
    <option value="8">8 Shops</option>
    <option value="16">16 Shops</option>
    <option value="32">32 Shops</option>
    <option value="9999">All Shops</option>
  </select>
</div>


<div id="map"></div>


  <p id="debug"></p>
  <p id="debug2"></p>




  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOAcTqov7sfiYl5EiNeR5sLBE33aPXmo4&signed_in=true"></script>
  <script>
  <%= render partial: '/layouts/map.js', post: @post %>
  </script>
</body>
