<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <%= link_to 'New Shop', "shops/new" %>
  <tr>
    <th>Chain</th>
    <th>Name</th>
    <th>Edit</th>
  </tr>
  <% @shops.each do |shop| %>
  <tr>
    <td><%= shop.chain %></td>
    <td><%= shop.name %></td>
    <td><%= button_to "Details", shop, :method=> 'get' %><td>
  </tr>
  <% end %>
  <tr>
</table>

</body>
</html>
